{% extends "layout.html" %}
{% block title %}Connexion{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col">
        <form action="/connect" method="post">
            <p><input type="text" id="login" name="login" placeholder="Login"></p>
            <p><input type="password" id="passwd" name="passwd" placeholder="Password"></p>
            <button class="btn btn-outline-success">Sign in</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}