{% extends "layout.html" %}
{% block title %}Connexion{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col">
        <form action="/index" method="post">
        <div>
          <label for="Login">Login :</label>
          <input type="text" id="login" name="login" required>
        </div>
        <div>
          <label for="Password">Password :</label>
          <input type="password" id="passwd" name="passwd" required>
        </div>
          <button type="submit"> sign in </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}